@import "@styles/globals.scss";

h2 {margin: 0;}

.characters {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        border: solid 1px $lowLight;
        border-radius: $borderRadius;
        margin: $paddingSmall;
        overflow: hidden;
        .name {
            padding: $paddingSmall;
            padding-right: 128px;
            margin: 0;
            background-color: $bgColor;
            position: relative;
            :global(.ant-radio-group) {
                position: absolute;
                right: 36px;
                top: 14px;
            }
            > button {
                position: absolute;
                right: -8px;
                top: 4px;
            }
        }
        .info {
            padding: $paddingSmall;
            p {
                border-bottom: solid 1px $lowLight;
                margin-bottom: 0;
            }
        }
        .id {
            padding: 0 $paddingSmall;
            * {color: $lowLight;}
        }
    }
}