@import "@styles/globals.scss";

.characters {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        border: solid 1px $lowLight;
        border-radius: $borderRadius;
        margin: $paddingSmall;
        .name {
            padding: $paddingSmall;
            margin: 0;
            background-color: $bgColor;
            position: relative;
            button {
                position: absolute;
                right: $paddingSmall;
                top: 16px;
            }
        }
        .info {
            padding: $paddingSmall;
        }
        .id {
            padding: 0 $paddingSmall;
            * {color: $lowLight;}
        }
    }
}