@import "@styles/globals.scss";

.scenes {
    > h2 {
        button {float: right;}
    }
    .sceneInfo {
        position: relative;
        .hoistBtn {
            position: absolute;
            right: 0px;
            top: -10px;
        }
    }
    .scenes {
        :global(.deleteBtn) {float: right;}
    }
}