@import "@styles/globals.scss";

.scenes {
    > h2 {
        button {float: right;}
    }
    .sceneInfo {
        .hoistBtn {
            position: absolute;
            right: 8px;
        }
    }
    .scenes {
        :global(.deleteBtn) {float: right;}
    }
}