@import "@styles/globals.scss";

.lastPromptModal {
    :global(.ant-modal-content) {
        width: 1024px;
        pre {
            white-space: pre-wrap;
            border: solid 1px $lowLight;
            padding: $paddingXSmall $paddingSmall;
            border-radius: $paddingSmall;
            background-color: $bgColorLow;
        }
    }
}
