@import "@styles/globals.scss";

.entityHeader {
    &:hover {
        .moveBtns {display: block;}
    }
    .moveBtns {
        display: none;
        position: absolute;
        left: 32px;
        top: 2px;
    }
    .details {
        margin-left: 12px;
        input {
            display: inline-block;
            width: auto;
        }
    }
    :global(.deleteBtn) {
        float: right;
    }
}