@import "@styles/globals.scss";


.beats {
    > h2 {
        button {float: right;}
    }
    .beat {
        position: relative;
        :global(.deleteBtn) {
            position: absolute;
            right: 8px;
            top: 12px;
            z-index: 999;
        }
        .text {
            button {float: right;}
        }
    }
    .summarize {
        padding: $paddingLarge;
        text-align: center;
    }
}